*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Body*/
body{
 font-family: 'Edu Tas Beginner', sens-serif;
 background-image: url(/img/cork.png);
}

/*Header*/
header{
  background-image: url(/img/wall.png);
  text-align: center;
}
h1{ 
  font-size: 85px;
  font-weight: 700;
  padding: 15px;
}

h2{
  font-weight: bold;
  font-size: 35px;
}


/*Main*/
.polaroid{
  background-color: #fff;
  height: 420px;
  width: 328px;
  padding: 15px;
  position: relative;
}

.polaroid img.foto-grande{
  width: 100%;
  height: 300px;
}

.polaroid p{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pin-img{
 position: absolute;
 top: -10px;
 left: 50%;
 transform: translateX(-50%);
 display: block;
 width: 32px;
}

/*OVERLAY*/
  #overlay {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    max-width: 100vw;
    max-height: 100vh;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
  }
  
  /* Nascondi overlay con classe hidden */
   #overlay.hidden {
    display: none;
  }

  /* Immagine centrata */
  #overlay-img {
    max-width: 90%;
    max-height: 70%;
    padding: 10px;
    background-color: #fff;
  }

  /* Bottone chiusura */
  #close-btn {
   position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 15px;
    font-size: 18px;
    background: #ff4444;
    color: #fff;
    border-color: #fff;
    border-radius: 30px;
    cursor: pointer;
  }


