*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*BODY*/
body{
  font-family:'Edu Tas Beginner',  sans-serif;
  background-image: url(/img/cork.png);
}
/*HEADER*/
header{
  background-image: url(/img/wall.png);
  text-align: center;
  padding: 20px;
  }

  h1{
    font-size: 70px;
    font-weight: bold;
  }


  /*CARD*/
  .card{
    background-color: #fff;
    width: 300px;
  }

  .card img{
    height: 300px;
    object-fit: cover;
    padding: 13px;
  }

  

