*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*BODY*/
body{
  font-family:'Edu Tas Beginner',  sans-serif;
  background-image: url(/img/cork.png);
}
/*HEADER*/
header{
  background-image: url(/img/wall.png);
  text-align: center;
  padding: 20px;
  }

  h1{
    font-size: 70px;
    font-weight: bold;
  }

  /*CARD*/
  .card{
    height: 331px;
    width: 288px;
    background-color: #fff;
    align-items: center;
    border-radius: 0px;
  }
  .card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    padding: 13px;
  }

  .caption{
   font-size: 14px;
   margin-left: 13px;
  }


